* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    max-width: fit-content;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
}



@media (max-width: 1000px) {
.col {
margin: 50px 2.5%;
}

.navigation a {
    display: block;
    padding: 5px;
    margin: 0;
}
}

@media (min-width: 400px) {
    .col {
        float: left;
        width: 45%;
        margin: 50px 2.5%;
    }
} 

